{% extends 'blog/base.html' %}
{% block content %}
<div class="info">
    <h1>About Us</h1>
    <p>
        Have you ever experienced the feeling of pure triumph as you glide into the perfect parking space and then
        wished you had someone to share it with? Well this blog is for you.
    <p>
    <p>
        We here at Snack-bar Parking want to celebrate the victories on the parking battlefield. The magical spot
        equidistant to the entrance and the trolley bay. The only undercover space on a rainy day. The park right
        outside the pizza shop just as your pizza is coming out of the oven. We are by no means experts in parking and
        we’re certainly not representatives from the parking industry; we’re just a little obsessed.
    </p>
    <p>
        You’ll find lots of posts about our personal snack-bar parks (the best park to suit your needs) as well as car
        park reviews, tips about how to take a little stress out of your daily parking routine and some history about
        this strange custom we all suffer through.
    </p>
    <p>
        Don’t forget to @ us with your own snack-bar wins on <a href="https://twitter.com/SnackbarP"
            target="_blank">Twitter</a> or check out our <a href="https://www.instagram.com/snackbarparking"
            target="_blank">Instagram</a> and <a href="https://www.pinterest.com.au/66c4edb4c1f49f5dfda7d29be10215/"
            target="_blank">Pintrest</a> where we share beautiful parking spots and parking inspiration.
    </p>
    <p>
        Peace, love and may we never fight over the same parking space!
    </p>
</div>
{% endblock content %}